/* HTML elements */
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}

.navbar {
  color: white;
  /*background-color: #009688;*/
  background-color: transparent;
  /*opacity: .2;*/
  border-radius: 0;
}

.navbar-transparent {
  background: none;
}

.navbar-nav {
  font-size: 1.5em;
}

.affix {
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;
  -o-transition:padding 0.2s ease-out;
  transition:padding 0.2s ease-out;
  background-color: #009688;
}

@media (min-width:768px) {
    .affix-top {
      /* navbar style at top */
      background:transparent;
      border-color:transparent;
      padding: 15px;
      -webkit-transition:all 0.5s ease;
      -moz-transition:all 0.5s ease;
      -o-transition:all 0.5s ease;
      transition:all 0.5s ease;
    }
}


/*.affix {
  background-color: black;
  /*background-color: #009688;*/
/*}*/
/*@media (min-width:768px) {
  .affix-top {
    /* navbar style at top */
      /*background:transparent;
      border-color:transparent;
      padding: 15px;
      -webkit-transition:all 0.5s ease;
      -moz-transition:all 0.5s ease;
      -o-transition:all 0.5s ease;
      transition:all 0.5s ease;*/
  /*}
}*/

.image-cropper {
  width: 100vw;
  height: 100vh;
    /*width: 300px;
    height: 300px;*/
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 15vh;*/
}

.fold-image {
    height: inherit;
    width: inherit;
    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;*/
    /*border-radius: 50%;*/
    background:url("../jpg/me.jpg") center no-repeat;
    background-size:cover;
    margin: 0 auto;
}

.about-img {
    /*border-radius: 50%;*/
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
    object-fit: contain;
}

/* <div> elements for page layout */
#fold {
  background-color: #FFFFFF;
  color: #F8F7FC;
  height: 100vh;
  width: 100vw;
  font-size: 2em;
}

#fold-lower {
  height: 50vh;
  text-align: center;
  width: 100%;
}

#fold-upper {
  height: 30vh;
  width: 50%;
}

#navigation li  a {
  cursor: pointer;
  font-size: 1.25em;
  float: right;
  list-style-type: none;
  margin-right: 1vw;
  margin-left: 1vw;
}

#navigation-padding {
  height: 2vh;
}

#toolbar {
  width: 100vw;
  background-color: #009688;
  margin-bottom: 0;
}

#toolbar-left {
  width: 48vw;
  display: inline-block;
}

#toolbar-right {
  width: 48vw;
  display: inline-block;
  font-size: 1.45vw;
}

/* <div> elements for buttons */
#menu {
  background-color: #03a9f4;
  border: .1em;
  border-color: #03a9f4;
  border-radius: .15em;
  border-style: solid;
  color: #232323;
  cursor: pointer;
  font-size: .5em;
  margin: 0 auto;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
  text-align: center;
  width: 40%;
}

#menu-container {
  width: 25%;
}

#menu-padding {
  height: 5vh;
}

/* Content -- container for the different sections*/
#content {
  margin: 0 auto;
  width: 80%;
}

/* About -- the first section below the fold */
#about {
  font-size: 1.25em;
}

#about-title {
  font-size: 2em;
  text-align: center;
}

#about-description{
  font-size: 1.5em;
  padding: 5vh 5vw;
}

.about-description-item {
  margin: 5vh 0;
}

.about-link {
    border-bottom: 1px solid #2196F3;
    color: #2196F3;
    padding-bottom: 1px;
}

.about-link:hover{
  color: #2196F3;
}

#section-container {
  text-align: center;
  margin: 0 auto;
}

#footer {
  background-color: #232323;
  height: 45vh;
  padding: 10vh 30vw;
  width: 100vw;
}

.contact {
  /*color: #768390;*/
  text-decoration-color: #768390;
}

.contact h1 {
  color: #EEEEEE;
}

.contact-list li {
  cursor: pointer;
  display: inline-block;
  margin: 2.5vh 1.5vw;
}

.connect-icons {
  margin: 0 auto;
}

.contact-icons {
  color: white;
  display: inline;
  font-size: 1.5em;
  list-style-type: none;
}

.arrow-top-container {
    padding: 85vh;
}

.arrow-top {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  font-size: 1em;
  height: 6vh;
  margin: 0 auto;
  -webkit-transform: scale( 0.8333 );
  -moz-transform: scale( 0.8333 );
  -o-transform: scale( 0.8333 );
  -ms-transform: scale( 0.8333 );
  transform: scale( 0.8333 );
  padding-top: 1.3vh;
  vertical-align: middle;
  width: 6vh;
  text-align: center;
}

.arrow-bottom {
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 1em;
  height: 6vh;
  margin: 0 auto;
  -webkit-transform: scale( 0.8333 );
  -moz-transform: scale( 0.8333 );
  -o-transform: scale( 0.8333 );
  -ms-transform: scale( 0.8333 );
  transform: scale( 0.8333 );
  padding-top: 1vh;
  vertical-align: middle;
  width: 6vh;
  text-align: center;
}

.black{
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  color: white;
}

.arrow-top:hover {
  background-color: black;
  border-color: black;
  color: white;
  font-size: 1.05em;
  /*height: 6vh;*/
  margin: 0 auto;
  /*width: 6vh;*/

  -webkit-transform: scale( 1 );
  -moz-transform: scale( 1 );
  -o-transform: scale( 1 );
  -ms-transform: scale( 1 );
  transform: scale( 1 );
  transition: all .375s ease-in-out;
}
.arrow-bottom:hover {
  background-color: #EEEEEE;
  color: black;
  font-size: 1.05em;
  /*height: 6vh;*/
  margin: 0 auto;
  /*width: 6vh;*/

  -webkit-transform: scale( 1 );
  -moz-transform: scale( 1 );
  -o-transform: scale( 1 );
  -ms-transform: scale( 1 );
  transform: scale( 1 );
  transition: all .375s ease-in-out;
}
.project-card {
  margin: 5vh auto;
}

#gmail-color:hover {
  color: #dd4b39;
}

#linked-in-color:hover {
  color: #007bb5;
}

#facebook-color:hover {
  color: #3b5998;
}

#github-color:hover {
  color: #6e5494;
}


a:hover{
  color: white;
}

.example-title {
  margin: 0;
}

.navbar-inverse {
  border-width: 0px;
}

#education-list-container {
  margin: 2.5vh auto;
  padding: 5vh 0;
  width: 50%;
}

#education-list {
  text-align: left;
}

#education-list li {
  color: #FF6B6B;
  list-style-type: disc;
  margin-left: 5vw;
  padding: 2.5vh 0;
}

#education-list li:hover {
  list-style-type: circle;
}

#education-list li span {
  font-size: 1em;
  color: #768390;
}
